node_modules/
dist/
*.local
.DS_Store
.mcp.json
# IDA decompilation of the engine (derived from copyright binary — never check in)
/cfile
Cfile/
*.exe.c

# Never check in original game assets (copyright!)
assets/
extracted/
*.scd
*.scm
*.sca
*.scmap
*.dds
